[submodule "fot-fuzz"]
	path = fot-fuzz
	url = git@github.com:HongxuChen/fot-fuzz.git
[submodule "fot-ui"]
	path = fot-ui
	url = git@github.com:ThePatrickStar/fot-ui.git
[submodule "fot-instrument"]
	path = fot-instrument
	url = git@github.com:ThePatrickStar/fot-instrument.git
[submodule "fot-sem"]
	path = fot-sem
	url = git@github.com:HongxuChen/fot-sem.git
