[submodule "fot-fuzz"]
	path = fot-fuzz
	url = git@github.com:HongxuChen/fot-fuzz.git
[submodule "fot-ui"]
	path = fot-ui
	url = git@github.com:ThePatrickStar/fot-ui.git
[submodule "fot-instrument"]
	path = fot-instrument
	url = git@github.com:ThePatrickStar/fot-instrument.git
[submodule "fot-sem"]
	path = fot-sem
	url = git@github.com:HongxuChen/fot-sem.git
[submodule "fot-docker-electron"]
	path = fot-docker-electron
	url = git@github.com:ntutangyun/fot-docker-electron.git
[submodule "fot-frontend-vue"]
	path = fot-frontend-vue
	url = git@github.com:ntutangyun/fot-frontend-vue.git
